/* Remove unnecessary margins/padding */
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 72px;
}

.topNavigation {
  height: var(--header-height);
}

input {
  background-color: none;
}

.bracket-container {
  grid-area: "bracket";
  height: calc(100vh - var(--header-height));
}

.bracket-page {
  display: grid;
  grid-template-areas: "controls bracket ";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

.bracket-controls {
  min-width: 200px;
  padding: 24px;
  grid-area: "controls";
}

.wrapper {
  display: grid;
  /* Header and footer span the entire width, sidebars and content are fixed, with empty space on sides */
  grid-template-areas:
    "header header "
    "sidebar_1 content ";
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 0fr auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10000;
  height: var(--header-height);
}

.content {
  grid-area: content;
  /* background-color: yellow; */
  /* min-height: calc(100vh - var(--header-height)); */
  /* margin-top: calc(0px + var(--header-height)); */
  /* margin-top: 4px; */
}

input::-webkit-input-placeholder {
  color: #8e8d95;
}

input::-moz-placeholder {
  color: #8e8d95;
}

input::-ms-placeholder {
  color: #8e8d95;
}

input::placeholder {
  color: #8e8d95;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sticky-content {
  position: sticky;
  bottom: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: var(--header-height);
  margin-top: calc(0px - var(--header-height));
}

#loading {
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top-color: #fff;
  border-left-color: #fff;
  /* border-top-width: 20px; */
  animation: spin 1.2s ease-in-out infinite;
  -webkit-animation: spin 1.2s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
