/* Remove unnecessary margins/padding */
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 108px;
}

.topNavigation {
  height: var(--header-height);
}

.wrapper {
  display: grid;
  /* Header and footer span the entire width, sidebars and content are fixed, with empty space on sides */
  grid-template-areas:
    "header header "
    "sidebar_1 content ";
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 0fr auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10000;
  height: var(--header-height);
}

.content {
  grid-area: content;
  /* background-color: yellow; */
  min-height: calc(100vh - var(--header-height));
  /* margin-top: calc(0px - var(--header-height)); */
}

.sticky-content {
  position: sticky;
  bottom: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: var(--header-height);
  margin-top: calc(0px - var(--header-height));
}

#loading {
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top-color: #fff;
  border-left-color: #fff;
  /* border-top-width: 20px; */
  animation: spin 1.2s ease-in-out infinite;
  -webkit-animation: spin 1.2s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
